@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #006d77; 
    --secondary-color: #e29578; 
    --accent1-color: #83c5be; 
    --accent2-color: #ffddd2; 
    --subtle-color: #edf6f9;
    
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Montserrat', serif;
    
    --nav-background-color: #ffffff;
    --nav-link-color: #006d77;
    --nav-hover-link-color: #83c5be;
    --nav-hover-background-color: #edf6f9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

/* header */
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* logo */
header img {
    width: 100px;
    height: auto;
    justify-self: center;
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;    
    display: flex;
    align-self: center;
    justify-self: center;
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

header nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer p {
    text-align: center;
}

footer nav {
    background-color: var(--nav-background-color);
    display: flex;
    float: right;
}

footer nav a {
    text-decoration: none;
    padding: 1rem;
}

footer nav a:hover {
    background-color: var(--nav-hover-background-color);
}

section {
    padding-top: 2rem;
}

input, select, textarea {
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: .5rem;
    border-width: 1px;
    border-color: var(--subtle-color);
}

input:hover, select:hover, textarea:hover {
    border-color: var(--primary-color);
}

input[type="checkbox"], input[type="radio"] {
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: bottom;
}

button {
    margin: 1rem auto 0;
    padding: 0.5rem;
    font-family: Arial;
    font-size: 1rem;
    color: var(--subtle-color);
    background-color: var(--primary-color);
    width: auto;
    border-width: 1px;
    border-radius: .5rem;    
}

button:hover {
    color: var(--primary-color);
    background-color: var(--subtle-color);
}

/*  class definitions  */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.2;
}

.hero h1 {
    position: absolute;
    width: 100%;
    top: 10px;
    margin-top: 0;
}

.hero article {
    position: absolute;
    top: 40px;
    padding: 10px;    
}

.hero article img {
    float: right;
    opacity: 1;
    width: 50px;
    height: auto;
    margin: 10px;
    padding-top: 10px; 
}

.hero li {
    padding-bottom: 5px;
    font-size: .90rem;
}

.history {
    padding: 1rem;
    background-color: var(--nav-background-color);
}

.history div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.history img {
    width: 200px;
    height: auto;
    justify-self: center;
    padding-top: 20px;
}

.adventure {
    background-color: var(--nav-hover-background-color);
}

.adventure h2 {
    margin-top: 0;
}

.adventure div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure img {
    width: 100%;
    height: auto;
}

.adventure figure {
    margin: 1rem;
    font-size: .7rem;
}

/* contact us page */
.contact {
    margin-top: -1rem;
}

.contact h1 {
    font-size: 2rem;
    margin-top: 0;
}

.contact h2 {
    font-size: 1.2rem;
}

.contact-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.left-box {
    border: 1px solid var(--primary-color);
}

.right-box {
    border: 1px solid var(--primary-color);
}

.reach-us {
    display: grid;
    grid-template-columns: 5fr 4fr;
    margin: 1rem;
}

.experts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.experts img {
    width: 100%;
    height: auto;
}

.experts figure {
    margin: 0 0.5em 1em 0.5rem;
    font-size: .7rem;
}

.contact-us {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
}

.contact-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 0.5rem;
}

.layout-vertical {
    margin: 1em 0 1em 0;
    display: grid;
    grid-auto-rows: min-content;
}

.layout-vertical textarea {
    margin-top: 0.5rem;
}

.radio-header {
    padding-top:0.2rem;
}

.radio-spacing {
    padding-bottom: 0.5rem;
}

.hero-trip {
    position: relative;
}

.hero-trip img {
    display: block;
    width: 100%;
    height: 150px;
    opacity: 0.2;
    object-fit: cover;
}

.hero-trip h1 {
    position: absolute;
    width: 100%;
    top: 40px;
    margin-top: 0;
}

.hero-trip h3 {
    position: absolute;
    width: 100%;
    top: 80px;
    margin-top: 0;
}

.trips section h2 {
    margin-top: -0.5rem;
}

.trip-wrapper {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}


.trip {
    background-color: var(--nav-hover-background-color);
}

.trip img {
    width: 100%;
    height: auto;
}

.trip figure {
    margin: 1rem;
    font-size: 0.8rem;
}

.trip article, p {
    padding: 0 1em 0 1rem;
}

.trip article h5 {
    margin: -0.2rem 0 0.8rem 0;
}

.trip p {
    font-style: italic;
    font-size: 0.9rem;
}

.trip li {
    font-size: 0.8rem;
}

.book-bar {
    position: relative;
}

.book-bar button {
    position: absolute;
    top: -1.25rem;
    right: 0;
}

.doc-style h2 {
    text-align: left;
}

.doc-style table {
    border-collapse: collapse;
    width: 100%;
}

.doc-style th, td {
    border: 1px solid black;
    padding: 0.5rem;
}

.doc-style table th {
    text-align: left;
}