@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #006d77; 
    --secondary-color: #e29578; 
    --accent1-color: #83c5be; 
    --accent2-color: #ffddd2; 
    --subtle-color: #edf6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    font-size: 1em;
    color: var(--primary-color);
    background-color: var(--subtle-color);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 1rem;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    background-color: var(--accent2-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.2rem;
    margin-bottom: 1rem;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: .5rem;
    border-width: 1px;
    border-color: #fff;
}

span {
    font-family: Courier;
    background-color: var(--subtle-color);
    font-size: .9em;
}

button {
    margin: 1rem auto 0;
    padding: 0.5rem;
    font-family: Arial;
    font-size: 1rem;
    color: var(--subtle-color);
    background-color: var(--primary-color);
    width: auto;
    border-width: 1px;
    border-radius: .5rem;
}

button:hover {
    color: var(--primary-color);
    background-color: var(--subtle-color);
}

footer {
    width: 650px;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid var(--accent1-color);
    padding-top: 0.8em;
}

.question {
    display: grid;
    align-items: center;
}

.q-and-a {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
.q-and-a-2 {
    grid-template-columns: 2fr 1fr;
    margin: 0.5rem 0;
}
.q-and-a-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0.5rem 0;
}
